 <!-- should have a navbar with search bar, Register, Login, Home, Products dropdown, Cart, Account -->
 <!-- Login, Register should be modal with email, password and email, password, confirm password as inputs respectively and inputs should be validated -->
 <!-- Products, Account, Home,SignOut tabs should be available only after successful login and Login and Register should not be present after successful login-->


 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   
      <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Organic Shop</a>
          <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="isLoggedIn">
            <li class="nav-item">
              <a class="nav-link " routerLink="/home" routerLinkActive="active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/products/all" routerLinkActive="active">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link "routerLink="/home" routerLinkActive="active">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/account" routerLinkActive="active">Account</a>
              </li>
            
          </ul>
          <div class="dropdown" *ngIf="isLoggedIn" dropdown>
            <a  class="dropdown-toggle text-light" dropdownToggle>Welcome User</a>
            <div class="dropdown-menu  mt-3" *dropdownMenu>
              <a  class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a  class="dropdown-item" (click)="signOut()">Logout</a>
            </div>
          </div>
          <form *ngIf="!isLoggedIn" #loginForm="ngForm" class="d-flex"  (ngSubmit)="loginSubmit()" autocomplete="off">
            <input [(ngModel)]="model.email"  name="username" class="form-control me-2" type="text" placeholder="Username" >
            <input [(ngModel)]="model.password"  name="password" class="form-control me-2" type="password" placeholder="Password" >
            <button class="btn btn-outline-success" type="submit">Login</button>
          </form>
        </div>
    
  </nav> 