<!-- should have a <app-header> -->

<!-- should have a <section> with card grid with Quantity selector, 'Add To Cart' button to display all products -->
    
    <div class="container d-flex justify-content-center mt-50 mb-50">
        <div class="row">
            <div class="col-md-4 mt-2" *ngFor="let item of items;let i=index;">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions"> <img src="{{item.image}}" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">{{item.name}}</a> </h6> <a href="#" class="text-muted" data-abc="true">{{item.category}}</a>
                        </div>
                        <h3 class="mb-0 font-weight-semibold">{{'Rs.'+item.price}}</h3>
                        <!-- <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div> -->
                        <!-- <div class="text-muted mb-3">34 reviews</div>  -->
                        <!-- <button type="button" class="btn btn-success btn-number" (click)= "incrementwine('wine')" data-type="plus" data-field="quant[3]">
                            <i class="fa fa-plus-square"> </i>
                         </button>
                         <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                         
                         <button type="button" class="btn btn-success btn-number"  data-type="plus" data-field="quant[3]">
                            <i class="fa fa-minus-square"> </i>
                         </button> -->
                         <div class="input-group">
                            <span class="input-group-btn">
                          <button type="button" (click)="changeQuantity($event,i)" class="btn btn-success btn-number"  data-type="plus" data-field="quant[1]">
                              <span class="fa fa-plus-square"></span>
                            </button>
                            </span>
                            <input type="text" (change)="changeQuantity($event,i)" name="quant[1]" class="form-control input-number" [(ngModel)]="item.quantity" min="1" max="10">
                            <span class="input-group-btn">
                          <button type="button" (click)="changeQuantity($event,i)" class="btn btn-success btn-number
                          " data-type="plus" data-field="quant[1]">
                              <span class="fa fa-minus-square"></span>
                            </button>
                            </span>
                        </div>
                     
                        <!-- <img src="assets/images/minus.svg" class="card-img img-fluid" width="96" height="350" alt=""> -->
                        <div class="text-muted mb-3">{{item.description}}</div> 
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>
           

        </div>
    </div>
    <!-- should have a <app-footer> -->

