<!-- should have a <app-header> -->

 <app-header></app-header>
<!-- should have a <section> with a carousel and a flexbox grid of aboutUs and sponsors -->
    
    <p>test carasoule in home page</p>
    <div class="container mt-4" >
        <div class="carousel-inner" role="listbox" style=" width:100%; height: 500px !important;">
    <carousel>
        <slide>
          <img src="assets/images/vegetablesCarousel.jpg" alt="first slide" style="display: block; width: 100%;height: 500px !important;">
        </slide>
        <slide>
          <img src="assets/images/veg.jpg" alt="second slide" style="display: block; width: 100%;height: 500px !important;">
        </slide>
        <slide>
          <img src="assets/images/Kiwi.jpeg" alt="third slide" style="display: block; width: 100%;height: 500px !important;">
        </slide>
      </carousel>
    </div>

      </div>
<!-- should have a <app-footer> -->
   
    <app-footer></app-footer>
    